
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/DirectXTex"]
	path = vendor/DirectXTex
	url = https://github.com/microsoft/DirectXTex
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
